body{
  background: url('img/bg22.jpeg')no-repeat center center/cover;  
  background-color: #000000;
  opacity: 0.89;
  z-index: -1;
  
}
.nav{
  
  height: 100px;
  background-color: saddlebrown;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.nav ul{
  
  display: flex;
  list-style: none;
  }

  .nav ul li{
    
    margin: 23px;
    width: 147px;
    height: 40px;
    font-size: 1.3rem;
    justify-content: center;
    text-align: center;
    border-radius: 17px;
    /* border: 2px solid black; */
    background-color: black;
    padding-top: 12px;
    
  }

  .nav ul li a{
    color: white;
    text-decoration: none;
    padding: 12px;
    text-align: center;
    justify-content: center;
    font-family: 'Marck Script', cursive;
  }
  
  .nav ul li:hover{
    background-color: rgb(97, 119, 119);
  }

  .welcome-section{
    
    justify-content: center;
    font-size: 1.3rem;

  }
  .welcome-section img{
    width: 107px;
    height: 126px;
    margin: 26px;
    border-radius: 60%;
    margin-left: 706px;
    margin-top: 158px;

  }
  .welcome-section h1{
    
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    color: rgb(135, 35, 202);
  }
  .welcome-section  p{
    font-family: 'Kalam', cursive;
    text-align: center;
    font-size: 1.7rem;
    color: rgb(115, 136, 19);
  }
  
  hr{
    background-color: green;
    border: 2px solid red;
  }
  #projects{
   
    height: 85%;
    justify-content: center;
    

  }

  #projects .Project-Header{
    
    text-align: center;
    margin: 60px 30px;
    font-size: 1.9rem;
    color: rgb(160, 28, 72);
    font-family: 'Fugaz One', cursive;
    
  }
  #projects .Project-name{
    display:flex;
    
    height: 50%;
    /* padding:70px; */
    padding-left: 65px;
  }
  #projects .Project-name .P-info{
    border: 2px solid white;
    margin: 30px;
    width: 217px;
    height: 365px;
    padding:30px;
    text-decoration: none;
    cursor: text;
  }

  #projects .Project-name .P-info img{
    width: 100%;
    height: 80%;
  }
  #projects .Project-name .P-info p{
    color: white;
    text-align: center;
    justify-content: center;
  }
  

  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-google {
    background: #983b4a;
    color: white;
  }
  
  /* Twitter */
  .fa-linkedin {
    background: #55ACEE;
    color: white;
  }

  .fa-github {
    background: #121314;
    color: white;
  }


 
/* 

#navbar a{
  float:right;
  padding:10px;
  font-size:20px;
  text-decoration:none;
  color:black;
}
 .nav a:hover {
  background-color: #333;
  color: black;
}
  
 
#main-section h1{
  margin-top:100px;
  
  
  
  
  
}


.nav {
  display:flex;
  border:1px solid;
  position:fixed;
  width:100%;
  justify-content: flex-end;
 background: red;
  
}
.welcome-section{
  padding-top:90px;
  text-align:center;
  padding-bottom:0;
   background-color:#696969	;
   padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;

}

h1{
  font-size:50px;
  margin-bottom:0px;
  color:white;
 
}

p{
  font-size:25px;
  font-style:italic;
  padding-top:0px;
  color:#B22222;
 
}
*{
  padding:0;
  margin:0;
}
.Project-Header{
     max-width: 640px;
    margin:auto;
    border-bottom: 1px solid;
  text-align:center;
  margin-top:50px;
  font-size:30px;
 
    
  
  
}

.Project-name {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  border:1px solid;
 
}

a {
  border:1px solid ;
  margin-right:0px;
  padding-right:0px;
  
} */